# Node/Projects
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temporary Dev / Scraping Files
# Excluded so the repo only contains the source code
extract.py
website_content.txt
website_content.html
website_content_clean.txt
content.txt
"WEBSITE CONTENT.docx"

# Local Env
.env
.env.local
.env.development.local
clean_text.txt
toc_temp.txt
Documentation/1. ACCOUNTING AND FINANCE EDUCATION TRAINING SECTOR (1).pdf
Documentation/2 .BEAUTY AND WELLNESS TRAINING SECTOR.pdf
Documentation/3.COMPUTER AND ADVANCED SOFTWARE EDUCATION TRAINING SECTOR.pdf
Documentation/4.COMPUTER HARDWARE AND NETWORKING TRAINING SECTOR.pdf
Documentation/5.FASHION DESIGNING TEXTILE TRAINING SECTOR.pdf
Documentation/6.OFFICE MANGEMENT EDUCATION SECTOR (1).pdf
Documentation/7.COMMUNICATIVE & SOFT SKILLS EDUCATION SECTOR.pdf
Documentation/8.MEDIA AND PHOTOGRAPHY TRAINING SECTOR 1 (1).pdf
Documentation/9.AGRICULTURE EDUCATION TRAINING SECTOR (1).pdf
Documentation/10.BIO-MEDICAL TECHNOLOGY SECTOR.pdf
Documentation/11.HEALTH CARE AND PARAMEDICAL SCIENCE SECTOR.pdf
Documentation/12.NATUROPATHY AND YOGA SCIENCES SECTOR.pdf
Documentation/13.VOCATIONAL EDUCATION TRAINING SECTOR.pdf
Documentation/14.AVIATION TRAINING SECTOR.pdf
Documentation/15.BUSINESS MANAGEMENT EDUCATION TRAINING SECTOR.pdf
Documentation/16.SHIPPING MANAGEMENT TRAINING SECTOR.pdf
Documentation/17.SOLAR ENERGY TRAINING SECTOR.pdf
Documentation/18.NUTRITION AND HEALTH SCIENCE TRAINING SECTOR.pdf
Documentation/19.ENGINEERING SOFTWARE TRAINING SECTOR.pdf
Documentation/20.FIRE AND SAFETY MANGEMENT TRAINING SECTOR.pdf
Documentation/REWORK.docx
Documentation/~$REWORK.docx
Documentation/rework.txt
